// Colors
$softRed: hsl(7, 99%, 70%);
$vSoftRed: hsl(7, 100%, 80%);
$yellow: hsl(51, 100%, 49%);
$lightYellow: hsl(51, 100%, 59%);
$vLightYellow: hsl(51, 100%, 75%);
$darkDesCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkModCyan: hsl(168, 34%, 41%);
$lightGreen: hsl(166,44%,69%);

$vDarkDesBlue: hsl(212, 27%, 19%);
$vDarkGrayBlue: hsl(213, 9%, 39%);
$darkGrayBlue: hsl(232, 10%, 55%);
$grayBlue: hsl(210, 4%, 67%);
$lightGray: hsl(200, 18%, 93%);
$white: hsl(0, 0%, 100%);

// font-family: 'Barlow', sans-serif;